@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* use to contain content that doesn't need to stretch across screen */
  .c-container {
    @apply max-w-[1600px] px-4 md:px-5 lg:px-24 xl:px-40 
  }

  .c-sick-hover-effect {
    --bg: black;
    --text-color: white;

    background: linear-gradient(0deg, var(--bg), var(--bg)) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms, color 350ms;
  --bg-h: 100%;
  text-decoration: none;
  }

  .c-sick-hover-effect--white {
    --text-color: black;
    --bg: white;
  }

  .c-sick-hover-effect:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
    color: var(--text-color)
  }
}